<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand " >POC</a>

  <ul class="navbar-nav ml-auto ms-auto" routerLinkActive="active">
    <li class="nav-item">
      <a href="/home" class="nav-link" routerLink="home">Home</a>
    </li>
    <!-- //admin section -->
    <li class="nav-item" *ngIf="isAdmin()">
      <a href="/status" class="nav-link" routerLink="change_status" *ngIf="isAdmin()">Status</a>
    </li>
    <li class="nav-item" *ngIf="isAdmin()">
      <a href="/management" class="nav-link" routerLink="management" *ngIf="isAdmin()">Management</a>
    </li>

   <!-- User section -->

    <li class="nav-item" *ngIf="isUser()">
      <a href="/times" class="nav-link" routerLink="times">Times</a>
    </li>



   <!-- Manaager section -->
    <li class="nav-item" >
      <a href="/projects" class="nav-link" routerLink="projects" *ngIf="isManager()">Projects</a> 
    </li>
    <li class="nav-item" >
      <a href="/users" class="nav-link" routerLink="users" *ngIf="isManager()">Users</a>
    </li>
    <li class="nav-item" >
      <a href="/times" class="nav-link" routerLink="times" *ngIf="isManager()">Times</a>
    </li>
  



    <!-- Liens pour les utilisateurs non connectés -->
    <li class="nav-item" *ngIf="!isLoggedIn()">
      
      <a href="/login" class="nav-link" routerLink="login"  style="color: blueviolet;font-weight: bolder;"> <i class='fas fa-right-to-bracket' style="color: white;"></i>Login</a>
    </li>

    <!-- Liens pour les utilisateurs connectés -->
    <li class="nav-item" *ngIf="isLoggedIn()">
      <a href="/profile" class="nav-link" routerLink="profile">Profile</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn()">
      <a href="#" class="nav-link" (click)="logout()" style="color: blueviolet;font-weight: bolder;">Logout</a>
    </li>
  </ul>
</nav>
