<div class="landing-container">
    <header class="header">
      <h1>Welcome to Our Work Time Management App</h1>
    </header>
    <main class="content">
      <div class="illustration">
        <div class="illustration">
            <img src="assets/images/landing_page1.avif" alt="Your Graphic" />
          </div>
      </div>
      <div class="description">
        <h2>Efficiently Manage Work Times</h2>
        <p>
          Our application helps you streamline work time tracking and management. It's user-friendly and efficient,
          allowing you to focus on what matters most.
        </p>
      </div>
    </main>
  </div>
  

  